<!DOCTYPE html>
<html>

<head>
    <title>Dot Game</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <script src="/index.js"></script>
    <div class="game-header">
        <div class="game-score">
            12345
        </div>
        <div class="game-speed-slider">
            <input
              type="range"
              name="Game Speed"
              id="game-speed"
              min="10"
              max="100"
              step="1"
              value="10"
            >
        </div>
        <div class="game-speed-value">
          <span class="drop-label">Speed</span>
          <span id="drop-value"></span>
        </div>
    </div>
    <div class="game-viewport">
      <div class="circle"></div>
    </div>
</body>

</html>